* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  z-index: -1;
}

/*  HEADER CONTAINER STYLING STARTS HERE */
.headercontainer {
  background: url(images/bg.jpg) 100% 0 fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  object-fit: cover;
}

/* STICKER CONTAINER STYLING STARTS HERE */
.stickercontainer {
  width: 100%;
  height: 60px;
  background-color: rgba(14, 13, 13, 0.537);
}

.sticker {
  height: inherit;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticker1 {
  height: inherit;
  width: 60%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.sticker1 > p {
  width: 100%;
}

.sticker1 > img {
  width: 15px;
}

.sticker2 {
  height: inherit;
  width: 40%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.sticker2 > img {
  width: 15px;
}
.right {
  position: relative;
  left: 10px;
}
.left {
  position: relative;
  left: 10px;
}


/* STICKER CONTAINER STYLING ENDS HERE */

/* NAVIGATION BAR STYLING STARTS HERE */
.navcontainer {
  width: 100%;
  height: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.logo {
  width: 40%;
}

.logo > img {
  float: left;
  width: 100%;
  object-fit: cover;
}

.empty {
  width: 20%;
}

.links {
  width: 40%;
}

.links > ul {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: right;
  width: 100%;
}

ul {
  display: flex;
  justify-content: right;
}

 li {
  padding: 0 20px;
} 

a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.contact {
  font-weight: 700;
  padding: 10px 30px;
  border: 3px solid #ff974f;
  border-radius: 10px;
  position: relative;
  left: 5px;
}

.burger-menu {
  display: none;
}

/* NAVIGATION BAR STYLING ENDS HERE */

/* ARTICLE STYLING STARTS HERE */
.text {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 180px;
}

.text h1 {
  line-height: 6rem;
  font-size: 5rem;
}

h1 span {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1 div {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.text p {
  position: relative;
  top: 40px;
  font-size: 1.6rem;
  color: #ff974f;
  line-height: 1.6;
}

.cent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.outbtn {
  margin-top: 40px;
  font-size: 1.3rem;
  background-color: #ff974f;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 600;
}
/* ARTICLE STYLING ENDS HERE */

/*  HEADER CONTAINER STYLING ENDS HERE */

/* MAIN CONTAINER STYLINGS START HERE */

/* CONTENT BOX STYLING START HERE */
.maincontainer {
  width: 100%;
  height: 100vh;
}

.submain {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: -40px;
  padding: 20px;
  background-color: white;
}

.contentbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.content {
  width: 32%;
  height: 300px;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* CONTENT BOX STYLING END HERE */

/* MAIN CONTENT STYLING START HERE */
.maincontent {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  text-align: left;
  position: relative;
  top: 40px;
}

.content1 {
  width: 47%;
  height: 1000px;
}

.content1 .welcome {
  position: relative;
  bottom: 20;
}

.content1 p {
  font-size: 1.1rem;
}

.link {
  color: black;
  border: 3px solid #e4e4e4;
  padding: 15px 25px;
  font-weight: 700;
  border-radius: 5px;
  position: relative;
  top: 20px;
}

.link:hover {
  border: 3px solid #ff974f;
}

.content2 {
  width: 25%;
  height: 200px;
}

.content2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content2 h2 {
    font-size: 1.3rem;
}

.content3 {
  width: 25%;
  height: 200px;
  position: relative;

}

.content3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

hr {
  width: 100px;
  display: block;
  color: #ff974f;
  float: left;
  border: 1px solid;
}

p {
  color: rgb(99, 99, 99);
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  color: black;
}
/* MAIN CONTENT STYLING END HERE */

/* MAIN CONTAINER STYLINGS ENDS HERE */


/* CONTACT CONTAINER STYLING START HERE */
.contact-container {
  background: url(images/bg4.jpg) 100% 0 fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  object-fit: cover;
  display: flex;
  align-items: center;
}

.contactbg {
background-color: white;
width: 80%;
height: 80vh;
margin: 0 auto;
}

.contactbox {
width: 100%; 
height: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
position: relative;
top: 50px;
left: 20px;
right: 20px;
}

/* CONTACT INFO STYLING START HERE */

.contactinfo {
width: 50%;
height: 100%;
position: relative;
left: 20px;
line-height: 45px;
}

.contactinfo > h2 {
  position: relative;
  top: 20px;
}
.contactinfo > hr {
  position: relative;
  top: 40px;
}

.bold {
font-size: 1rem;
font-weight: 700;
color: black;
position: relative;
bottom: -15px;
}

.small-icon {
width: 13px;
}

.small-icon1 {
  width: 15px;
}

.small-icon2 {
  width: 10px;
}

h2 {
font-size: 2.2rem;
font-weight: 700;
color: black;
}

.contactinfo p {
width: 60%;
}

.big {
font-size: 1rem;
position: relative;
top: 10px;
}
/* CONTACT INFO STYLING ENDS HERE */

/* FORM STYLING START HERE */
form {
width: 50%;
padding: 40px 0px;
line-height: 40px;
}

#name {
  position: relative;
  bottom: 30px;
}

#email {
  position: relative;
  bottom: 15px;
}

input[type="text"],
input[type="email"] {
padding: 12px 20px;
width: 90%;
height: 40px;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.85rem;
border-radius: 5px;
border: 3px solid #e4e4e4;
float: right;
}

.textarea {
  width: 100%;
}

textarea {
padding: 12px 20px;
width: 90%;
height: 150px;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.85rem;
position: relative;
bottom: 0px;
border: none;
border-radius: 5px;
border: 3px solid #e4e4e4;
float: right;
}

button {
background-color: #ff974f;
padding: 20px 40px;
font-size: 1.4rem;
color: white;
border: 0;
border-radius: 5px;
float: right;
position: relative;
top: 20px;
}

input[type="text"],
input[type="email"],
textarea,
button {
  position: relative;
  right: 50px;
}

/* FONT AWESOME ICON STYLING STARTS HERE */
.icon {
width: 90%;
height: 20px;
display: flex;
justify-content: end;
position: relative;
top: -120px;
}

.icon img {
width: 15px;
height: 20px;
margin-left: 40px;
}

/* FONT AWESOME ICON STYLING ENDS HERE */

/* FORM STYLING ENDS HERE */

/* CONTACT CONTAINER STYLING ENDS HERE */