/* STICKER CONTAINER STYLING STARTS HERE */

.sticker1 {
    width: 70%;
  }
  
  .sticker2 {
    width: 30%;
  }
 /* STICKER CONTAINER STYLING ENDS HERE */
 
 /* NAVIGATION BAR STYLING STARTS HERE */
  .empty {
    width: 10%;
  }
  
  .links {
    width: 50%;
  }
  /* NAVIGATION BAR STYLING ENDS HERE */